#boxhome
{
    width: 752px;
    height: 500;
    box-shadow: 0px, 0px, 11px, 11px rgba(173, 217, 255, 3);
    border: aliceblue solid medium;
}
@font-face
{
    font-family: pixel3;
    src: url(PixelGameFont.ttf);
    /*Fonte customizada */
}
@font-face
{
    font-family: deltar;
    src: url(undertale-deltarune-text-font-extended.ttf);
    /* mais uma fonte customizada */
}
@font-face
{
    font-family: undertale;
    src: url(undertale-deltarune-text-font-extended.ttf);
}
p, h2, h1, ul, h3
{
    font-family: pixel3;
    color: aliceblue;
    /* Muda a fonte e a cor dela */
}
.button
{
    color: aqua;
    font-family: pixel3;
    background-color: rgb(0, 0, 0);
    height: 40px;
    float: left;
    border: rgb(0, 0, 0);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: all .35s;
    box-sizing: border-box;
    /* da umas coisinhas pros meus botoes */
}
.delta
{
    width: 90%;
    padding: 50px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    /* muda a cor da fonte, o padding, a largura e a fonte. */
}
.texto1
{
    width: 30%;
    padding: 10px;
    margin-top: 100px;
    margin-left: 5px;
    outline: solid aliceblue thick;
    /* mudaa largura, o padding, a margem de cima e de baixo da caixa e a borda outline. */
}
.titulo1
{
    font-family: pixel3;
    color: aliceblue;
    /* Muda a cor e fonte */
}
.ref
{
    width: 750px;
    padding: 50px;
    margin: 200px;
    outline: solid aliceblue thick;
    align-items: center;
    text-align: center;
    /* caixa da referência q leva pro site da steam */
}
.imagem
{
    align-items: center;
    width: 500px;
    padding: 50px;
    /* muda a largura e o "padding"(uma margem de dentro da caixa, pro conteúdo) de dentro da caixa. */
}
.video
{
    width: 100px;
    padding: auto;
    margin: 0px;
    /* muda a largura da caixa q contém o vídeo */
}
#div1sob
{
    column-count: 2;
    width: 93%;
    padding: 25px;
    outline: aliceblue solid thick;
    margin: 1%;
    /* Muda as propriedades da caixa */
}
#navbar
{
    overflow: visible;
    width: 101%;
    background-color: #000000;
    height: 40px;
    margin-left: -0.5%;
    /* Faz umas alterações e deixa o botão bonito */
}
.button:hover
{
    box-shadow: 0px 0px 38px 12px #00e1ffc7;
    background-image: linear-gradient(cornflowerblue, cyan);
    color: aliceblue;
    transition: ease-in-out .3s;
    /* animação de passar o mouse por cima do botão.  */
}
.button:hover:after
{
    background-color: #000000;
    transition: all .50s;
    /* Animação depois de tirar o mouse de cima do botão. */
}
.wrapper
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* acho q isso n ta nem fazendo nada,mas talvez eu use mais tarde. resumindo é uma animação de botão*/
}
#Sprites_e_Info
{
    margin: 5%;
    background-color: rgb(0, 0, 0);
    height: fit-content;
    /* muda o tamanho da margem em todos os lados, coloca a cor de fundo preto e coloca a altura como o máximo de conteudo */
}
.butao2
{
    height: 40px;
    float: left;
    background-color: #000000;
    border: #000000;
    font-family: pixel3;
    color:#24ffff;
    /* Muda as propriedades de alguns botões. */
}
#krishs
{
    background-color: #000000;
    width: fit-content;
    display: flex;
    padding-left: 10px;
    grid-template-columns: 1fr;
    column-count: 2;
    height: fit-content;
    /* Deixa o conteúdo em formato de grid, muda a cor, a largura, a altura e a quantidade de colunas. */
}
#ralseihs
{
    background-color: #000000;
    width: fit-content;
    height: fit-content;
    display: none;
    /* Deixa o conteúdo invisivel, muda a cor e a largura. */
}
#susiehs
{
    background-color: #000000;
    width: fit-content;
    display: none;
    /* Deixa o conteúdo invisivel, muda a cor e a largura. */
}
#noellehs
{
    background-color: #000000;
    width: fit-content;
    display: none;
    /* Deixa o conteúdo invisivel, muda a cor e a largura. */
}
#berdlyhs
{
    background-color: #000000;
    width: fit-content;
    display: none;
    /* Deixa o conteúdo invisivel, muda a cor e a largura. */
}
#enemieshs
{
    background-color: #000000;
    width: fit-content;
    display: none;
    /* Deixa o conteúdo invisivel, muda a cor e a largura. */
}
#npcshs
{
    background-color: #000000;
    width: fit-content;
    display: none;
    /* Deixa o conteúdo invisivel, muda a cor e a largura. */
}
#contato
{
    margin-left: 83%;
    /* separa esse botão dos outros */
}
#steam
{
    margin-left: 43%;
    width: 100px;
    border-radius: 5px;
    /* muda algumas coisas de um botão. */
}
#agir
{
    border: #ff7124 solid 2px;
    color: #ff7124;
    font-family: deltar;
    border-radius: 3px;
    background-color: black;
    /* Cria um botão e muda a cor, fonte e arredonda a borda*/
}
#agir:hover
{
    border: yellow solid 2px;
    color: yellow;
    /* Provoca uma mudança de cor na borda e fonte de um botão quando você passa o mouse por cima. */
}
#krisimg
{
    margin-left: 20%;
    align-items: center;
    padding: 5px;
    border: #c2c2c2 2px solid;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    /* Muda a alinhação pro centro, deixa a altura definida pela quantidade de conteúdo, mesma coisa com a largura, coloca uma borda cinza, deixa ela um pouco arredondado. */
}
#krisinfo
{
    width: 30%;
    margin-right: 0%;
    /* muda o tamanho da caixa para 30% dentro de outra caixa e a margem da direita deixa 0% */
}
table
{
    text-align: center;
    font-family: pixel3;
    color: aliceblue;
    border: #c2c2c2 1px solid;    
    /* Alinha as coisas pro centro, muda a fonte e a cor dela, e mexe com a borda. */
}
th
{
    width: 20%;
    border: #c2c2c2 1px solid;
    background-color: #1d1d1d;
    /* Muda a cor de funto, mexe com o tamanho da tabela, e muda cor tamanho e o tipo de borda */
}
td
{
    background-color: #000000;
    border: #c2c2c2 1px solid;
    /* muda a cor, o tamanho e o tipo de borda */
}
#KIN
{
    border: #008fe2;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background-color: #008fe2;
    font-family: pixel3;
    color: aliceblue;
    /* Mesma coisa #RIN */
}
#KII
{
    border: #008fe2;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    background-color: #008fe2;
    font-family: pixel3;
    color: aliceblue;
    align-items: center;
    text-align: center;
    /* mesma coisa  #RII */
}
#RIN
{
    border: #008fe2;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background-color: #008fe2;
    font-family: pixel3;
    color: aliceblue;
    align-items: center;
    text-align: center;
    /* mesma coisa do código de baixo, mas com uma borda mais redonda */
}
#RII
{
    border: #008fe2;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    background-color: #008fe2;
    font-family: pixel3;
    color: aliceblue;
    align-items: center;
    text-align: center;
    /* faz uma caixinha, muda a cor dela pra azul, muda a fonte(cor e fonte), mexe com o tamanho da caixa, e alinha os items e o texto pro centro */
}
#ralseiimg
{
    margin-left: 20%;
    align-items: center;
    padding: 5px;
    border: #c2c2c2 2px solid;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    /* Muda a alinhação pro centro, deixa a altura definida pela quantidade de conteúdo, mesma coisa com a largura, coloca uma borda cinza, deixa ela um pouco arredondado.*/
}
#ralseiinfo
{
    width: 30%;
    margin-right: 0%;
    /* muda o tamanho da caixa para 30% dentro de outra caixa e a margem da direita deixa 0% */
}
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
    /* por enquanto n faz nada */
}
#headbar
{
    display: grid;
    height: fit-content;
    width: 110%;
    margin: -0.5%;
    background-color: #008fe2;
    grid-template-columns: 1fr 1fr;
    /* modifica o header */
}
#headbartext
{
    margin-left: -15%;
    /* Gruda o header nas pontas do site */
}
.footer
{
    margin-left: -0.6%;
    background-color: #008fe2;
    height: 70px;
    width: 110%;
    /* faz o footer */
}
